.text-center {
    text-align: center;
    color: whitesmoke;
}
.display-border {
    border: 5px solid white;
    padding-top: 25px;
    padding-left: 3px;
    width: 200px; height: 50px;
    text-align: center;
    margin-left: 38%;
    margin-bottom: 15px;
}
.btn{
    margin-left: 45%;
    margin-right: 50%;
    text-align: center;
    margin-bottom: 10px;
    width: 70px;
    height: 50px;
    appearance: none;
    border: 5px solid white;
    border-radius: 5px;
    background: black;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
}
.btn:hover{
    border: 5px solid black;
    background: white;
    color: black;
}
body{
    background: url(background/barabany_barabannaia_ustanovka_muzykalnyj_instrument_121556_1920x1080.jpg);
}